<!DOCTYPE html>
<html>
<head>
	<!-- Bootstrap CSS -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/korean_font.css">
	<!-- # Bootstrap CSS -->

    <style type="text/css">
        .circle_text {
            font-size: 1em;
            width: 1.7em;
            border-radius: 1em;
            padding: .1em .2em;
            line-height: 1.7em;
            display: inline-block;
            text-align: center;
            background-color: #007BFF;
            color: white;
            margin-right: .3em;
        }
    </style>
	
	<title>사진 속 음식 조리법 추천</title>
</head>
<body>
<div class="flex-grow-1 d-flex flex-column">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-9 col-lg-10 mx-auto" id="content">
				<div class="row">
					<div class="col-md pt-5">
						<!-- 이미지 업로드 영역 -->
						<section id="upload_area" class="bg-faded py-2">
                            <!-- Title -->
                            <div class="d-flex my-3">
                                <div class="w-100 py-5 mx-auto">
                                    <h1 class="display-3">사진 속 음식은 무엇일까?</h1>
                                    <p class="lead">음식이 있는 사진을 업로드하면 사진 속의 음식을 판별하고 그 음식의 조리법을 알려줍니다.</p>
                                </div>
                            </div>

							<div class="row">
								<div class="col-xl-12 col-lg-4 mb-4">
							        <div class="card border-primary h-100">
							            <div class="card-body d-flex flex-column align-items-start">
							                <h4 class="card-title text-primary">Step 1. 사진 업로드</h4>
							                <p class="card-text">음식의 사진을 업로드하세요.</p>
							                <form id="frm_upload" action="/fileUpload" method="POST" enctype="multipart/form-data">
								                <div class="custom-file mb-3">
								                	<input type="file" name="img_file" class="custom-file-input" readonly>
								                	<label class="custom-file-label" for="customFile">음식 사진을 선택하세요.</label>
								                </div>
							                	<input type="button" id="btn_upload" class="form-control btn btn-primary align-bottom btn-lg" value="업로드">
							                </form>
							            </div>
							        </div>
							    </div>
						    </div>
					    </section>
					    
					    <!-- 예측 결과 영역 -->
						<section id="predict_area" class="bg-faded py-2">
							<div class="row">
								<div class="col-xl-12 col-lg-4 mb-4">
							        <div class="card border-primary h-100">
							            <div class="card-body d-flex flex-column align-items-start">
							                <h4 class="card-title text-primary">Step 2. 음식 예측</h4>
							                <p class="card-text">사진 속 음식 예측 결과입니다.</p>
                                            {% if thumb_img_name %}
                                                <img src="{{ url_for('download_thumbnail', filename=thumb_img_name) }}" id="img_thumbnail" class="mx-auto d-block">
                                                <form id="frm_predict" action="/predict" method="POST" class="invisible">
                                                    <input type="text" name="in_filename" value="{{ thumb_img_name }}">
                                                </form>
				                            {% endif %}
							                <div id="predict_txt" class="mx-auto d-block mt-3 invisible">
                                                <h2>이 음식은 '<span id="food_name"></span>'일 확률이 <span id="probability"></span>%입니다.</h2>
                                            </div>
							            </div>
							        </div>
							        
							        
							    </div>
						    </div>
					    </section>
					    
					    <!-- 조리법 영역 -->
						<section id="recipe_area" class="bg-faded py-2">
							<div class="row">
								<div class="col-xl-12 col-lg-4 mb-4">
							        <div class="card border-primary h-100">
							            <div class="card-body d-flex flex-column align-items-start">
							                <h4 class="card-title text-primary">Step 3. 조리법</h4>
							                <p class="card-text">사진 속 음식의 조리법 입니다.</p>
                                            <div id="div_recipe_step"></div>
							            </div>
							        </div>
							    </div>
						    </div>
					    </section>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Bootstrap script -->
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- # Bootstrap script -->

<script type="text/javascript">
    $(document).ready(function () {
    });

	$(".custom-file-input").on("change", function() {
	    // file input에서 파일 선택 시 선택한 파일명으로 input값 변경
	    var fileName = $(this).val().split("\\").pop();
	    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

	    // 이전 결과 초기화
	    $("img").attr("src", "");
	    $("#predict_txt").addClass("invisible");
	    $("#div_recipe_step div").remove();
	});

	// 업로드 버튼 event
	$("#btn_upload").on("click", function() {
        $("#frm_upload").submit();
    });

	// 썸네일 이미지 load event
	$("#img_thumbnail").on("load", function() {
        // 음식명 예측하고 조리법 가져오기
        if( $(this).attr("src") != "" ) {
            $.ajax({
                url: "/predict",
                type: "POST",
                data: $("#frm_predict").serialize(),
                success: function (data) {
                    result = JSON.parse(data);

                    // 음식명 출력
                    $("#food_name").text(result.food_name);
                    $("#probability").text(result.probability);
                    $("#predict_txt").removeClass("invisible");

                    // 조리법 출력
                    step_list = result.recipe_step_list;

                    if( step_list != null && step_list.length > 0 ) {
                        $.each(step_list, function(i, item) {
                            stepHTML = "<div class='mb-4'><span class='circle_text'>" + (i+1) + "</span><span>" + item + "</span></div>";
                            $("#div_recipe_step").append(stepHTML);
                        });

                    // 조리법을 찾지 못한 경우 메시지 출력
                    } else {
                        stepHTML = "<div class='mx-auto d-block w-100 p-3 mb-2 bg-danger text-white'>죄송합니다! 이 음식은 조리법을 찾을 수 없네요ㅠㅠ</div>";
                        $("#div_recipe_step").append(stepHTML);
                    }
                }
            });
        }
    });

</script>
</body>
</html>